    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>{{ site.footer.location }}</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>{{ site.footer.openingtimes }}</h3>
                        <table class="table w-50 mx-auto table-borderless table-sm fs-5 text-white">
                            {% for openingtime in site.openingtimes %}
                            <tr>
                                <td><strong>{{openingtime.day}}</strong></td>
                                <td>{{openingtime.time}}</td>
                            </tr>
		                    {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll d-none d-sm-block d-md-none"> 
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
